<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X Gym</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="gym.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>

    <section id="banner">
        <div class="banner-div">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#"><span style="color:yellow">X</span> <span style="color:white;">Gym</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i class="fa fa-2x fa-bars" style="color: yellow;" aria-hidden="true"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="gym.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    
          <div class="container banner-container" style="text-align: center;">
              <h1 class="banner-header" data-aos="fade-right">
                Physical activity<br>
                enhances <span style="color:yellow">positive energy!</span>
              </h1>
              <a href="#contact"  data-aos="fade-right"><button class="btn btn-lg join-btn" >
                  Join the gym
              </button></a>
          </div>
        </div>
      </section>

      <section id="content">
          <div class="container">
              <div class="row">
                  <div class="col-md-2 col-12 col-sm-12 col-lg-2">

                  </div>
                  <div class="col-md-8 col-12 col-sm-12 col-lg-8">
                    <h1 class="content-h1"  data-aos="fade-right">
                        The real <span style="background-color:yellow">workout</span> starts when you want to stop.
                    </h1>
                </div>
                <div class="col-md-2 col-12 col-sm-12 col-lg-2">

                </div>
              </div>

              <div class="row exe-row" style="text-align: center;">
                  <div class="col-md-4 col-sm-12 col-12 col-lg-4">
                    <img src="../Images/Gym/treadmill.png" class="exe-img"  data-aos="fade-right">
                    <h3 class="exe-header"  data-aos="fade-right">
                        Intense Workouts
                    </h3>
                    <p class="exe-p"  data-aos="fade-right">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non obcaecati dolor a libero ipsam voluptatum. Impedit qui perferendis est eligendi.
                    </p>
                  </div>
                  <div class="col-md-4 col-sm-12 col-12 col-lg-4">
                    <img src="../Images/Gym/pull ups.png" class="exe-img"  data-aos="fade-right">
                    <h3 class="exe-header"  data-aos="fade-right">
                        Intense Workouts
                    </h3>
                    <p class="exe-p"  data-aos="fade-right">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non obcaecati dolor a libero ipsam voluptatum. Impedit qui perferendis est eligendi.
                    </p>
                  </div>
                <div class="col-md-4 col-sm-12 col-12 col-lg-4">
                    <img src="../Images/Gym/dumbells.png" class="exe-img"  data-aos="fade-right">
                    <h3 class="exe-header"  data-aos="fade-right">
                        Intense Workouts
                    </h3>
                    <p class="exe-p"  data-aos="fade-right">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non obcaecati dolor a libero ipsam voluptatum. Impedit qui perferendis est eligendi.
                    </p>
                </div>
              </div>
        </div>
      </section>

      <section id="discount">
          <div class="container d-c">
              <div class="row">
                  <div class="col-md-3 col-sm-12 col-lg-3 col-12">

                  </div>
                  <div class="col-md-6 col-sm-12 col-lg-6 col-12">
                    <h1 class="discount-header"  data-aos="fade-right">
                        Pay now and get a 25% <span style="color:yellow">Discount</span>
                    </h1>
                </div>
                <div class="col-md-3 col-sm-12 col-lg-3 col-12">

                </div>
              </div>
              <div class="row discount-content">
                <div class="col-md-3 col-lg-3 col-12 col-sm-12">
                  
                </div>
                <div class="col-md-1 col-lg-1 col-6 col-sm-6">
                  <img src="../Images/Gym/check.png" class="check-img"  data-aos="fade-right">
                </div>
                <div class="col-md-6 col-lg-6 col-6 col-sm-6"  data-aos="fade-right">
                  <h3 class="discount-h3">Lorem ipsum dolor sit amet consectetur</h3>
                </div>
              </div>
              <div class="row discount-content-2">
                <div class="col-md-3 col-lg-3 col-12 col-sm-12">
                  
                </div>
                <div class="col-md-1 col-lg-1 col-6 col-sm-6">
                  <img src="../Images/Gym/check.png" class="check-img"  data-aos="fade-right">
                </div>
                <div class="col-md-6 col-lg-6 col-6 col-sm-6"  data-aos="fade-right">
                  <h3 class="discount-h3">Lorem ipsum dolor sit amet consectetur</h3>
                </div>
              </div>
              <div class="row discount-content-2">
                <div class="col-md-3 col-lg-3 col-12 col-sm-12">
                  
                </div>
                <div class="col-md-1 col-lg-1 col-6 col-sm-6">
                  <img src="../Images/Gym/check.png" class="check-img"  data-aos="fade-right">
                </div>
                <div class="col-md-6 col-lg-6 col-6 col-sm-6">
                  <h3 class="discount-h3"  data-aos="fade-right">Lorem ipsum dolor sit amet consectetur</h3>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3 col-lg-3 col-12 col-sm-12">
                  
                </div>
                <div class="col-md-9 col-lg-9 col-12 col-sm-12 member-div">
                  <a href="#contact"  data-aos="fade-right"><button class="btn btn-lg member-btn">
                    Become a Member
                  </button></a>
                </div>
                
              </div>
          </div>
      </section>

      <section id="about">
        <div class="container">
          <div class="row">
          <div class="col-md-3 col-6 col-sm-6 col-lg-3"  data-aos="fade-right">
            <h2 class="number"><span style="background-color:yellow;padding:10px;">1265</span></h2>
            <h3 class="number-desc" >Happy Clients</h3>
          </div>
          <div class="col-md-3 col-6 col-sm-6 col-lg-3"  data-aos="fade-right">
            <h2 class="number"><span style="background-color:yellow;padding:10px;">230</span></h2>
            <h3 class="number-desc">Strong Bodies</h3>
          </div>
          <div class="col-md-3 col-6 col-sm-6 col-lg-3"  data-aos="fade-right">
            <h2 class="number"><span style="background-color:yellow;padding:10px;">50k</span></h2>
            <h3 class="number-desc">IG Followers</h3>
          </div>
          <div class="col-md-3 col-6 col-sm-6 col-lg-3"  data-aos="fade-right">
            <h2 class="number"><span style="background-color:yellow;padding:10px;">24/7</span></h2>
            <h3 class="number-desc">Working Hours</h3>
          </div>
        </div>
      </div>
      </section>

      <div class="container trainers">
        <h1 class="trainer-header mx-auto"  data-aos="fade-right">
          Meet the <span style="background-color:yellow;">Trainers</span>
        </h1>
      <div class="row trainers">
        
        <div class="col-md-4 col-12 col-sm-12 col-lg-4">
          <img src="../Images/Gym/trainer1.jpg" class="trainer-img"  data-aos="fade-right">
          <h3 class="trainer-name"  data-aos="fade-right">
            Michael Smith
          </h3>
          <p class="trainer-desc"  data-aos="fade-right">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi 
          </p>
        </div>
        <div class="col-md-4 col-12 col-sm-12 col-lg-4" >
          <img src="../Images/Gym/trainer2.jpg" class="trainer-img"  data-aos="fade-right">
          <h3 class="trainer-name"  data-aos="fade-right">
            Paula Carlton
          </h3>
          <p class="trainer-desc"  data-aos="fade-right">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
          </p>
        </div>
        <div class="col-md-4 col-12 col-sm-12 col-lg-4">
          <img src="../Images/Gym/trainer3.jpg" class="trainer-img"  data-aos="fade-right">
          <h3 class="trainer-name"  data-aos="fade-right">
            James Brown
          </h3>
          <p class="trainer-desc"  data-aos="fade-right">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
          </p>
        </div>
        
      </div>
    </div>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-12 col-12 col-lg-3">

          </div>
          <div class="col-md-6 col-sm-12 col-12 col-lg-6">
            <h1 class="contact-header"  data-aos="fade-right">
              Contact Us for any <span style="background-color:yellow;color:black;">Queries</span> or <span style="background-color:yellow;color:black;">Inquiries</span>
            </h1>

            <form action="" method="post"  data-aos="fade-right">
              <input type="text" class="form-control" placeholder="Your Name" name="name">
              <input type="email" class="form-control" placeholder="Your Email Address" name="email">
              <input type="text" class="form-control" placeholder="Your Phone Number" name="phone">
              <textarea class="form-control msg" placeholder="Your Message"></textarea>
              <button type="submit" class="btn btn-lg submit-btn">
                Submit
              </button>
            </form>
          </div>
          <div class="col-md-3 col-sm-12 col-12 col-lg-3">
            
          </div>
        </div>

        <hr class="footer-hr">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-lg-6 col-12">
            <p class="footer-p">
              Copyright © X Gym 2021. All rights reserved.
            </p>
          </div>
          <div class="col-md-2 col-sm-12 col-lg-2 col-12">

          </div>
          <div class="col-md-4 col-sm-12 col-lg-4 col-12" style="text-align: center;margin-bottom:20px;">
            <a href="#"><i class="fa fa-instagram social-icon" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-facebook social-icon" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter social-icon" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </section>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
          offset: 240,
          duration: 1000
      });
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>
</body>
</html>