<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta name="google-site-verification" content="dUvwe9QtEbW5taSNeXvOt6L3dTaBPBEVk74ftiABRo" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="portfolio.css">

    <title>Portfolio</title>
  </head>
  <body>
    <!-- banner -->
    <section id="banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6 col-md-6" data-aos="fade-right" >
                    <h1 id="welcome-header">Hello & Welcome!</h1>
                    <p id="welcome-p1">
                        Hi! I'm Andra, a freelance illustrator and sometimes animator from Amsterdam, The Netherlands. Stutpak is my creative alias, which I use to design everything that comes to mind.
                    </p>
                    <p id="welcome-p2">I specialize in digital illustrations and simple animations with lots of colors and popping characters. Why do I need custom illustrations or animations, you might ask? Well, scroll down and let me convince you.</p>
                </div>
                <div class="col-sm-12 col-lg-6 col-md-6" data-aos="fade-right">
                    <img src="../Images/portfolio/welcome.jpg" height="80%" width="100%" id="wel-img">
                </div>
            </div>
        </div>
    </section>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 240,
            duration: 1000
        });
    </script>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>